@attribute [Route(NavigationConsts.LoginPage)]
@using BlazorApp1.Entities.Dto
@using BlazorApp1.WebAsembly.Consts
@using BlazorApp1.WebAsembly.Services
@inject IAuthenticationService AuthenticationService;


<fieldset disabled="@(_expiration is not null)">
    <EditForm Model="@_model" OnValidSubmit="SubmitAsync">
        <div>
            <label for="email">Email:</label>
            <InputText @bind-Value="@_model.Email" id="email" name="email" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <InputText type="password" @bind-Value="@_model.Password" id="password" name="password" required />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </EditForm>
</fieldset>

@if(_expiration is not null)
{
    <p>You are logged in until @_expiration?.ToLongTimeString()</p>
}

@if (_errorMessage is not null)
{
    <p class="error">@_errorMessage</p>
}

@code {
    private UserLoginDto _model = new UserLoginDto();
    private DateTime? _expiration;
    private string? _errorMessage;

    private async Task SubmitAsync()
    {
        try
        {
            _expiration = await AuthenticationService.LoginAsync(_model);

            _errorMessage = null;
        }
        catch (Exception ex)
        {
            _expiration = null;

            _errorMessage = ex.Message;
        }
    }
}